@model IEnumerable<Rating.Models.UserModel>
    <div>
        <h3>Users</h3>
        <table>
            <tr>
                <td><p>Email</p></td>
                <td></td>
            </tr>
            @foreach (var u in Model)
            {
                <tr>
                    <td><p>@u.Email    </p></td>
                    <td><a href="/Home/About/@u.Id">About</a></td>
                </tr>
            }
        </table>
    </div>
