@model IEnumerable<Rating.Models.ProjectModel>
<h2>Index</h2>
<div>
    <h3>Projects</h3>
    <table>
        <tr>
            <td><p>Name</p></td>
            <td>        </td>
        </tr>
       @foreach(var p in Model)
                {
                <tr>
                    <td><p>@p.Name     </p></td>
                    <td><a href="/Project/Delete/@p.Id">  Delete</a></td>
                    <td><a href="/Project/Details/@p">  Details</a></td>
                </tr>
                }        
    </table>
    <a href="/Project/Create"> + new Project </a> 
</div>



