@model int
<h2>Create</h2>
<form action="/RatingType/Create" method="POST">
    <p>Name: </p><input type="text" name="Name"/><br />
    <input type="hidden" name="ProjectId" value="@Model"/>
    <input type="submit" value="Create"/>
</form>

