
@{
    ViewBag.Title = "ChangePassword";
}

<h2>@ViewBag.Cookie_0</h2>
<form method="post" action="/Account/ChangePassword" >
    <p>Enter email</p><input type="text"  name="Email"/>
    <p>Enter old password</p><input type="password" name="oldPassword" />
    <p>Enter new password</p><input type="password" name="newPassword" />
    <p>Repeat new password</p><input type="password" name="newRepeatPassword" /><br />
    <input type="submit" value="Change"/>
</form>

