
@{
    ViewBag.Title = "ChangePassword";
}

<h2>@ViewBag.Cookie_0</h2>
<form method="post" action="/Account/ChangePassword" >
    <input type="text"  name="Email"/>
    <input type="text" name="oldPassword" />
    <input type="text" name="newPassword" />
    <input type="text" name="newRepeatPassword" />
    <input type="submit" value="Change"/>
</form>

