 

    <div>
        <h3>Login</h3>
        <form method="post" action="/Account/Login">
            <p>Login: </p><input type="text"  name="Email"/>
            <p>Password: </p><input type="password" name="Password" /><br/>
            <input name="forgotpass" type="checkbox" value="true" />
            <input name="forgotpass" type="hidden" value="false" />
            <input type="submit" value="login" />
        </form>
    </div>
