<h2>Register</h2>

<form method="post" action="/Account/Register">
    <p>Enter email : </p><input type="text" name="Email"/>
    <p>Enter pass : </p><input type="Password" name="Password" />
    <input type="submit"  value="register"/>
</form>